<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>cat</string>
		<string>Main</string>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<array>
		<string>owlchar</string>
		<string>Object</string>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<array>
		<string>sirowl</string>
		<string>Object</string>
		<integer>4</integer>
		<integer>4</integer>
	</array>
</array>
</plist>
